*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding-bottom: auto;
    font-family: 'inter', sans-serif;
    background-image: url(./img/fundo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
}

.navbar {
    background-color: #4295be;
    padding: 1rem;
    position: static;
    top: 0;
    box-shadow: 10px 0px 10px #2c2c2c;
    z-index: 99;
}

.header-conteudo{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.navbar>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo{
    color: #115595;
    width: 10rem;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

/*.pesquisa{
    height: 2rem;
    width: 20rem;
    margin-right: 1rem;
}*/

.nav-tools{
    display: flex;
    align-items: center;
}


.nav-tools :first-child{
    margin-right: 1rem;
}

.button-login{
    width: 6rem;
    height: 2.2rem;
    background-color: #0084ff;
    cursor: pointer;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
}

.button-login:hover{
    background-color: #6badf8d3;
}

.button-cadastro{
    width: 6rem;
    height: 2.2rem;
    background-color: #0084ff;
    cursor: pointer;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
}

.button-cadastro:hover{
    background-color: #6badf8d3;
}


nav ul li{
    color: #fff;
    margin-right: 2.5rem;
    font-size: 18pt;
}

nav ul li:hover{
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
}

/* css da parte main */

main{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10rem;
    
}

.titulo-cursos{
    padding: 2rem;
    
}

.cursos{
    border: solid 1px;
    margin-right: 5rem;
    margin-left: 5rem;
    margin: 3rem;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #4295be;
    border-radius: 15px;
    border: none;
    box-shadow: 5px 10px 10px #555555;
    width: 22rem;
    height: 7rem;
}

a{
    text-decoration: none;
    
}

.nome-cursos{
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 20pt;
    font-family: 'inter' sans-serif;
    color: #fff;
}

.cursos-img{
    width: 8rem;
    height: 6rem;
    border-radius: 15px;
    transform: translateY(-20px);
    transition: all 0.2s;
}

.logo-cursos{
    width: 13rem;
    padding: 1rem;
}

.cursos:hover{
    background-color: #21517e;
    border: none;
    border-radius: 15px;
    transform: translateY(-5px);
    transition: all 0.3s;
}

/*css do footer*/

.footer {
    background-color: #21517e;
    padding: 5rem;
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footter-logo {
    width: 10rem;
    height: auto;
    margin-right: 1rem;
}

.footer-socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin-top: 10px;
}

.footer-socials img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-right: 1rem;
}
